<body class="shops">

  <div class="col-md-12 center">
    <h1><span class="page-title">Doctors</span></h1>
  </div>

    <div class="search" style="text-align:center;">
      <%= form_tag(shops_path, method: :get, class: "form-inline") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Doctors", class: "form-control" %>
        </div>
        <%= submit_tag "Search", class: "form-group", name: nil %>
      <% end %>
    </div>
  <div class="shop-info">
    <% @shops.each do |shop| %>
      <div class="">
        <h1><%= link_to shop.name, shop_path(shop), class: "shop-listing" %></h1>
          <p><%= shop.address %></p>
          <p><%= shop.description %></p>
      </div>
    <% end %><br/>
      <%= link_to 'Add a Doctor\'s Office', new_shop_path %>
  </div>

</body>

<%= paginate @shops %>

